@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 100;
    --background-end-rgb: 100, 110, 0;
    --navbar-color: 75, 75, 75;
    --very-dark-gray: 25, 25, 25;
  }
}

body {
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.navbar_wrapper{
  display: inline;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(var(--navbar-color));
}

.navbar_element {
  display: inline;
  color: rgba(172, 255, 47, 0.934);
  padding: 1.5%;
  background-color: rgb(var(--navbar-color));
}

.navbar_element:hover {
  background-color: rgb(var(--very-dark-gray));
}

.home_wrapper {
  width: 75%;
  background-color: rgb(var(--navbar-color));
  color: black;
}





